*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-background-color: hsl(123, 52%, 52%);
    --footer-background-color: black;
    --text-color-white: white;
    --text-color-black: black;
    --main-background-color: hsl(0, 0%, 83%);
    --aside-background-color: hsl(0, 0%, 90%);
    --div-background-color: hsl(0, 0%, 75%);
}

.grid-page-container{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}

.grid-header{
    grid-area: header;
    background-color: var(--header-background-color);
    color: var(--text-color-white);
    justify-items: center;
    align-content: center;
}

.grid-aside-section {
    grid-area: sidebar;
    background-color: var(--aside-background-color);
    padding-top: 1em;
    padding-left: 1em;
}

.grid-aside-section ul li{
    list-style: none;
    margin-bottom: 1em;
}

.grid-aside-section ul li a{
    text-decoration: none;
    color: var(--text-color-black);
    font-weight: bold;
}

.grid-main-content{
    grid-area: content;
    background-color: var(--main-background-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap:10px;
    padding: 20px;
}

.grid-main-content div{
    background-color: var(--div-background-color);
    border-radius: 10px;
    align-content: center;
    text-align: center;
    color: var(--text-color-black);
    font-weight: bold;
}

.grid-footer{
    grid-area: footer;
    background-color: black;
    color: white;
    align-content: center;
}

.grid-footer ul{
    list-style: none;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.grid-footer ul :first-child{
    justify-self: start;
    padding-left: 1em;
}

.grid-footer ul :last-child{
    justify-self: end;
    padding-right: 1em;
}

.grid-footer ul a{
    text-decoration: none;
    color: var(--text-color-white);
    font-weight: bold;
}

@media (width <= 1100px){
    .grid-page-container{
        grid-template-columns: 1fr;
        grid-template-rows: 100px 170px 1fr 150px;
        grid-template-areas:
        "header"
        "sidebar"
        "content"
        "footer";
    }

    .grid-aside-section {
        align-content: center;
    }

    .grid-aside-section ul {
        justify-items: center;
    }

    .grid-footer ul{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .grid-footer ul :first-child,
    .grid-footer ul :last-child{
        justify-self: center;
        padding: 0;
    }

    .grid-footer ul li:first-child {
        order: 3;
    }

    .grid-footer ul li:nth-child(2) {
        order: 2;
    }
    
    .grid-footer ul li:last-child {
        order: 1;
    }

}
