* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    height: 100vh;
    width: 100vw;
    display:grid;
    gap: 10px;
    grid-template-columns: 0.8fr 200px 1.2fr 0.5fr;
    grid-template-rows: 0.3fr 0.7fr 0.5fr 200px;
}

.item1{
    background-image: url(./assets/picture1.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.item2{
    background-image: url(./assets/picture2.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 1 / 3;
}

.item3{
    background-image: url(./assets/picture3.jpg);
    background-size: cover;
    background-position: center;
}

.item4{
    background-image: url(./assets/picture4.jpg);
    background-size: cover;
    background-position: center;
}

.item5{
    background-image: url(./assets/picture5.jpg);
    background-size: cover;
    background-position: center;
}

.item6{
    background-image: url(./assets/picture6.jpg);
    background-size: cover;
    background-position: center;
}

.item7{
    background-image: url(./assets/picture7.jpg);
    background-size: cover;
    background-position: center;
}

.item8{
    background-image: url(./assets/picture8.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 3 / 5;
    grid-column: -1 / -2;
}

.item9{
    background-image: url(./assets/picture9.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1 / 3;
}

.item10{
    background-image: url(./assets/picture10.jpg);
    background-size: cover;
    background-position: center;
}